:root {
    --jumbotron-padding-y: 3rem;
  }
  
.jumbotron {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0;
    background-color: #fff;
  }
  
.jumbotron p:last-child {
    margin-bottom: 0;
  }
  
.jumbotron-heading {
    font-weight: 300;
  }
  
.jumbotron .container {
    max-width: 40rem;
  }
  
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
footer p {
    margin-bottom: .25rem;
  }
  
.box-shadow { box-shadow: 0 .25rem .75rem rgba(50, 136, 151, 0.05); }

.crab-icon {
  height: 35px;
  width: 35px;
}

.buttons {
  margin: 2px;
}

.cover-image {
  width: auto;
  height: 250px;
}

.reader-mode {
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
}

.posts {
  max-width: 200px;
  max-height: 10px;
}

.navbar {
  padding-left: 5%;
  padding-right: 5%;
}